body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

section {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 150px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-around

}

.contenedor_mostrar_contenido, .contenedor_albumes, .contenedor_cargar {
    display: flex;
    flex-direction: column;
    /*
    button {
        margin-bottom: 10px;
        margin-top: 10px;
    }*/
    gap: 10px;
}



/*   Animacion  */

#spinner {
    display: none;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*   Venta de Vista maximizada de fotos   */

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-image {
    max-width: 90%;
    max-height: 80%;
}

.lightbox-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
}

.lightbox-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.lightbox-controls button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.close:hover {
    color: red;
}